body{
    background-color: #f8f9fa;
}
.btn-dark{
    margin-top: 10px;
    width: inherit;
    font-size: 18px;
    line-height: 21px;
    display: flex;
}

.underline{
    text-decoration: underline;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140.62%;
}

.text3, ul{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.marg{
    margin-top: 15px;
    margin-bottom: 15px;
}
.sites{
    margin-top: 90px;
}

input[type=text],input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;

	padding: 20px;
}

.layer1 {
	z-index: 1;
}

/*.btn {*/
/*	background: #42b983;*/
/*	color: #fff;*/
/*}*/
/*.btn:active {*/
/*	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);*/
/*}*/
/*.btn:hover {*/
/*	cursor: pointer;*/
/*	opacity: 0.8;*/
/*}*/
input[type=file] {
	display: none;
}

.preview {
	display: flex;
	flex-wrap: wrap;
	padding: .5rem;
}

.preview-image {
	position: relative;
	margin-bottom: .5rem;
	margin-right: .5rem;
	overflow: hidden;
}

.preview-image.removing {
	transform: scale(0);
	transition: transform .1s;
}

.preview-image:hover .preview-remove {
	opacity: 1;
}

.preview-image:hover .preview-info {
	bottom: 0px;
}

.preview-image img {
	width: 180px;
	height: auto;
}

.preview-remove {
	opacity: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity .22s;
}

.preview-info {
	position: absolute;
	right: 0;
	bottom: -30px;
	left: 0;
	height: 25px;
	font-size: 0.8rem;
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	transition: bottom .22s;
}



.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #ffc107;
}
.addbtn {
    color: #888;
    font-weight: bold;
    align-content: center;
    font-size: 20px;
    cursor: pointer;
}

.addbtn:hover {
    color: #000;
}

